    <div class="commonPageWrap">
      <div class="wrapper">
        <div class="wrapInner">
            <h1 class="titleCommon">YOUR ACCOUNT</h1>
            <div class="accountWrapAfterlogin">
              <a [routerLink]="['/orderlist']" class="accountOptionTab">
                <span class="accountOptionTabImg"><i class="fa fa-inbox"></i></span>
                <p>
                  Your Orders
                  <small>Buy things again or return</small>
                </p>
              </a>
              <a href="" class="accountOptionTab">
                <span class="accountOptionTabImg"><i class="fa fa-lock"></i></span>
                <p>
                  Login &amp; security
                  <small>Edit login, name, and mobile number</small>
                </p>
              </a>
              <a [routerLink]="['/address']" class="accountOptionTab">
                <span class="accountOptionTabImg"><i class="fa fa-home"></i></span>
                <p>
                  Addresses
                  <small>Edit addresses for orders and gifts</small>
                </p>
              </a>
            </div>
        </div>
      </div>
    </div>