<div class="commonPageWrap">
    <div class="wrapper">
        <div class="wrapInner">
            <h1 class="titleCommon">Update Password</h1>
            <form (ngSubmit)="onSubmit(f)" #f="ngForm">
                <div class="acccountBg">
                    <div class="regBox">
                        <div class="textMsg">Please enter your New Password</div>
                        <div class="formWrap">
                            <div class="formRow">
                                <input type="password" name="Password" placeholder="Create Password*" ngModel required>
                                <div class="error" *ngIf="f.controls.Password?.errors && f.controls.Password?.touched"><span class="error">Please enter a Password</span></div>
                            </div>
                            <div class="formRow">
                                <button type="submit" [disabled]="!f.valid" class="createAccount">Confirm</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>