html, body{
  height: 100%;
  font-family: Arial, Helvetica, sans-serif
}

a.active {
  background-color: gray;
}

.bgblur {
    background-color: rgba(62, 50, 50, 0.3);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: fixed;
    content: " ";
}
.cssload-spin-box {
	position: fixed;
	margin: auto;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	width: 30px;
	height: 30px;
	z-index: 26;
	border-radius: 100%;
	box-shadow: 41px 41px rgb(79,77,73), -41px 41px rgb(223,223,223), -41px -41px rgb(79,77,73), 41px -41px rgb(223,223,223);
		-o-box-shadow: 41px 41px rgb(79,77,73), -41px 41px rgb(223,223,223), -41px -41px rgb(79,77,73), 41px -41px rgb(223,223,223);
		-ms-box-shadow: 41px 41px rgb(79,77,73), -41px 41px rgb(223,223,223), -41px -41px rgb(79,77,73), 41px -41px rgb(223,223,223);
		-webkit-box-shadow: 41px 41px rgb(79,77,73), -41px 41px rgb(223,223,223), -41px -41px rgb(79,77,73), 41px -41px rgb(223,223,223);
		-moz-box-shadow: 41px 41px rgb(79,77,73), -41px 41px rgb(223,223,223), -41px -41px rgb(79,77,73), 41px -41px rgb(223,223,223);
	animation: cssload-spin ease infinite 4.6s;
		-o-animation: cssload-spin ease infinite 4.6s;
		-ms-animation: cssload-spin ease infinite 4.6s;
		-webkit-animation: cssload-spin ease infinite 4.6s;
		-moz-animation: cssload-spin ease infinite 4.6s;
}



@keyframes cssload-spin {
	0%,
	100% {
		box-shadow: 41px 41px rgb(79,77,73), -41px 41px rgb(223,223,223), -41px -41px rgb(79,77,73), 41px -41px rgb(223,223,223);
	}
	25% {
		box-shadow: -41px 41px rgb(223,223,223), -41px -41px rgb(79,77,73), 41px -41px rgb(223,223,223), 41px 41px rgb(79,77,73);
	}
	50% {
		box-shadow: -41px -41px rgb(79,77,73), 41px -41px rgb(223,223,223), 41px 41px rgb(79,77,73), -41px 41px rgb(223,223,223);
	}
	75% {
		box-shadow: 41px -41px #dfdfdf, 41px 41px #4f4d49, -41px 41px #dfdfdf, -41px -41px #4f4d49;
	}
}

@-o-keyframes cssload-spin {
	0%,
	100% {
		box-shadow: 41px 41px rgb(79,77,73), -41px 41px rgb(223,223,223), -41px -41px rgb(79,77,73), 41px -41px rgb(223,223,223);
	}
	25% {
		box-shadow: -41px 41px rgb(223,223,223), -41px -41px rgb(79,77,73), 41px -41px rgb(223,223,223), 41px 41px rgb(79,77,73);
	}
	50% {
		box-shadow: -41px -41px rgb(79,77,73), 41px -41px rgb(223,223,223), 41px 41px rgb(79,77,73), -41px 41px rgb(223,223,223);
	}
	75% {
		box-shadow: 41px -41px #dfdfdf, 41px 41px #4f4d49, -41px 41px #dfdfdf, -41px -41px #4f4d49;
	}
}

@-ms-keyframes cssload-spin {
	0%,
	100% {
		box-shadow: 41px 41px rgb(79,77,73), -41px 41px rgb(223,223,223), -41px -41px rgb(79,77,73), 41px -41px rgb(223,223,223);
	}
	25% {
		box-shadow: -41px 41px rgb(223,223,223), -41px -41px rgb(79,77,73), 41px -41px rgb(223,223,223), 41px 41px rgb(79,77,73);
	}
	50% {
		box-shadow: -41px -41px rgb(79,77,73), 41px -41px rgb(223,223,223), 41px 41px rgb(79,77,73), -41px 41px rgb(223,223,223);
	}
	75% {
		box-shadow: 41px -41px #dfdfdf, 41px 41px #4f4d49, -41px 41px #dfdfdf, -41px -41px #4f4d49;
	}
}

@-webkit-keyframes cssload-spin {
	0%,
	100% {
		box-shadow: 41px 41px rgb(79,77,73), -41px 41px rgb(223,223,223), -41px -41px rgb(79,77,73), 41px -41px rgb(223,223,223);
	}
	25% {
		box-shadow: -41px 41px rgb(223,223,223), -41px -41px rgb(79,77,73), 41px -41px rgb(223,223,223), 41px 41px rgb(79,77,73);
	}
	50% {
		box-shadow: -41px -41px rgb(79,77,73), 41px -41px rgb(223,223,223), 41px 41px rgb(79,77,73), -41px 41px rgb(223,223,223);
	}
	75% {
		box-shadow: 41px -41px #dfdfdf, 41px 41px #4f4d49, -41px 41px #dfdfdf, -41px -41px #4f4d49;
	}
}

@-moz-keyframes cssload-spin {
	0%,
	100% {
		box-shadow: 41px 41px rgb(79,77,73), -41px 41px rgb(223,223,223), -41px -41px rgb(79,77,73), 41px -41px rgb(223,223,223);
	}
	25% {
		box-shadow: -41px 41px rgb(223,223,223), -41px -41px rgb(79,77,73), 41px -41px rgb(223,223,223), 41px 41px rgb(79,77,73);
	}
	50% {
		box-shadow: -41px -41px rgb(79,77,73), 41px -41px rgb(223,223,223), 41px 41px rgb(79,77,73), -41px 41px rgb(223,223,223);
	}
	75% {
		box-shadow: 41px -41px #dfdfdf, 41px 41px #4f4d49, -41px 41px #dfdfdf, -41px -41px #4f4d49;
	}
}