<div class="commonPageWrap">
    <div class="wrapper">
        <div class="wrapInner">

            <h1 class="titleCommon">Forgot Password?</h1>
            <form (ngSubmit)="onSubmit(f)" #f="ngForm">
                <div class="acccountBg" *ngIf="userLocation == 'IN'">
                    <div class="regBox">
                        <div class="textMsg">Please enter your Phone Number.</div>
                        <div class="formWrap">
                            <div class="formRow">
                                <input type="text" name="userName" placeholder="Mobile Number*" ngModel required pattern="^([0-9]{10})$">
                                <div class="mobileNumberError" *ngIf="f.controls.userName?.errors && f.controls.userName?.touched"><span class="error">Please enter a valid Mobile Number</span></div>
                            </div>
                            <div class="formRow">
                                <input type="text" name="userLocation" [(ngModel)]="userLocation" [hidden]="true">
                                <button type="submit" [disabled]="!f.valid" class="createAccount">Request Verification Code</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="acccountBg" *ngIf="userLocation != 'IN'">
                    <div class="regBox">
                        <div class="textMsg">Please enter your Email.</div>
                        <div class="formWrap">
                            <div class="formRow">
                                <input type="email" name="userName" placeholder="Email Address*" ngModel required pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?">
                                <div class="error" *ngIf="f.controls.userName?.errors && f.controls.userName?.touched"><span class="error">Please enter a valid Email</span></div>
                            </div>
                            <div class="formRow">
                                <input type="text" name="userLocation" [(ngModel)]="userLocation" [hidden]="true">
                                <button type="submit" [disabled]="!f.valid" class="createAccount">Request reset Link</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>