@import 'mixin';

.shoppingBgcommon{
	position: relative;
	background: rgba(#fff, 1);
}
.shoppingBagWrapper{
	position: relative;

	.shoppingBagWrapperInnerLeft{
		position: relative;
		width: 68%;
		float: left;

		@include MQ(1023) {
			width: auto;
			float: none;
			margin-bottom: 30px;
		}
		.shoppingBagWrap{
			position: relative;
			// width: 68%;
			// float: left;
			background: rgba(#fff, 1);
			box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.26);
			padding: 20px;
			display: flex;
			margin-bottom: 50px;

			.removeProduct{
				position: absolute;
				right: 0;
				bottom: -32px;
				background: rgba(#c6c6c6, 0.3);
				@include font-size(11px);
				color: #2a2c2e;
				text-align: center;
				padding: 8px 12px 6px;
				text-transform: uppercase;
				// box-shadow: 0px 0 5px 0px rgba(0,0,0,0.26);
				cursor: pointer;

				@include MQ(599) {
					span{
						display: none;
					}
				}
			}

			.bagLeft{
				position: relative;
				display: flex;
				flex:7.5;

				@include MQ(767) {
					flex:6;
				}
				@include MQ(599) {
					flex-direction: column;
				}

				.itemImageWrap{
					flex:3;

					@include MQ(599) {
						flex:1;
						img{
							max-width:80px;
						}
					}
				}
				.itemDescColourWrap{
					flex:7;
					.itemDescColourWrapInner{
						@include absolutecenter(y);
						padding: 0 10px 0 25px;

						@include MQ(767) {
							@include absolutecenter(none);
							padding: 0 10px 0 15px;
						}
						@include MQ(599) {
							padding: 10px 5px 0 0;
							position: relative;
						}

						a{
							text-decoration: none;
							.itemOderTabHeading{
								@include font-size(16px);
								color: #2a2c2e;

								@include MQ(767) {
									// @include font-size(14px);
									line-height: 1.3;
								}
								@include MQ(599){
									@include font-size(14px);
								}
							}
						}
						.itemColour{
							padding: 10px 0;
							@include font-size(13px);
						}
						.itemSize{
							position: relative;
							span{
								display: block;
								width: 40px;
								height: 40px;
								padding-top: 10px;
								border-radius: 50%;
								background: rgba(252, 119, 0, 1.0);
								@include font-size(14px);
								// font-weight: bold;
								color: #fff;
								text-align: center;
							}
						}
					}
				}
			}
			.bagRight{
				position: relative;
				display: flex;
				flex:2.5;
				// justify-content: flex-end;

				@include MQ(767) {
					flex:4;
				}
				@include MQ(599) {
					flex-direction: column;
				}

				.itemQuantityPriceWrap{
					// flex:1;
					
					text-align: left;

					.itemQuantityPriceWrapInner{
						@include absolutecenter(y);
						text-align: left;
						padding-left: 0;

						@include MQ(767) {
							@include absolutecenter(none);
							padding-left: 10px;
						}

						.itemQuantityEditWrap{
							padding: 3px 0 20px;
							// width: 100px;

							@include MQ(767) {
								width: 100px;
								margin: 0 !important;
							}

							.quantityInputWrap{
								width: 100px;
								span.button{
									width: 30px;
									height: 30px;
									@include font-size(18px);
									background: rgba(#ccc, 1);
								}
								input[type="number"]{
									width: 100px;
									height: 30px;
									@include font-size(14px);
									outline: none;
								}
							}
						}

						.shoppingTabWishlistBtn{
							position: relative;
							width: 100%;
							border: 0;
							outline: 0;
							text-align: center;
							@include font-size(11px);
							font-family: 'Roboto';
							color: #000;
							text-transform: uppercase;
							display: block;
							background: rgba(#c6c6c6, 0.2);
							padding: 7px 8px;

							@include MQ(479) {
								@include font-size(10px);
							}

							span{
								@include font-size(14px);
								margin-right: 5px;
								color: rgba(252, 119, 0, 1.0);

								@include MQ(479) {
									display: block;
									margin: 0 0 3px 0;
								}
							}
						}
					}

				}
			}
			.BagTabHeading{
				display: block;
				@include font-size(11px);
				text-transform: uppercase;
				color:rgba(#999, 1);
			}
			.BagTabPrice{
				display: block;
				@include font-size(14px);
				color: #2a2c2e;
				padding: 0 0 10px 0;
			}
		}
	}
	.shoppingBagWrapperInnerRight{
		position: relative;
		width: 30%;
		float: right;

		@include MQ(1023) {
			width: auto;
			float: none;
		}
		.shoppingOrderWrap{
			position: relative;
			// width: 30%;
			// float: right;
			background: rgba(#fff, 1);
			box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
			padding: 20px;

			.shoppingOrderHeading{
				@include font-size(16px);
				color: rgba(#2a2c2e, 1);
				padding-bottom: 12px;
				border-bottom: 1px solid #aaaaaa;
				text-transform: uppercase;
				margin-bottom:15px;
			}
			table.orderTable{
				position: relative;
				width: 100%;

				tr{
					td.discountAmount{
						color: #999;
					}
					&:last-of-type{
						border-top: 1px solid #aaaaaa;

						td{
							padding-top: 20px;
							font-weight: 700;
						}
					}
					&:nth-last-of-type(2){
						td{
							padding-bottom: 20px;
						}
					}
				}

				td{
					padding: 10px 1px;
					@include font-size(16px);
					color: rgba(#2a2c2e, 1);

					// @include MQ(599) {
					// 	@include font-size(14px);
					// }

					&:first-of-type{
						text-align: left;
					}
					&:last-of-type{
						text-align: right;
					}
					a.applyCoupon{
						@include font-size(13px);
						color:#999;
						padding-bottom:2px;
						border-bottom: 1px solid #999;
						text-decoration: none;

						&:hover{
							border-bottom: 2px solid transparent;
						}
					}
				}
			}
		}
		.orderCheckout{
			position: relative;
			margin-top: 20px;
			width: 100%;
			text-align: center;
			@include font-size(16px);
			font-family: 'Roboto';
			font-weight: 300;
			color: #fff;
			text-transform: uppercase;
			display: block;
			background: rgba(#000, 1);
			padding: 10px 8px;
			box-shadow: inset 0 0 0 0 rgba(252, 119, 0, 1.0);
			transition: all ease 0.8s;
			border: 0;
			outline: none;

			@include MQ(767) {
				margin-top: 30px;
			}

			&:hover{
				box-shadow: inset 0 312px 0 0 rgba(252, 119, 0, 1.0);
				color: #fff;
			}
			span{
				margin-left: 8px;
			}
		}
	}

	//WISH LIST SECTION

	.wishlistWrap{
		width: 80%;
		float: none !important;
		margin: 0 auto !important;

		@include MQ(599) {
			width: 100%;
		}

		.shoppingTabAddToBagBtn{
			position: relative;
			width: 100%;
			border: 0;
			outline: 0;
			text-align: center;
			@include font-size(11px);
			font-family: 'Roboto';
			color: #fff;
			text-transform: uppercase;
			display: block;
			background: rgba(#000, 1);
			padding: 7px 8px;

			@include MQ(479) {
				@include font-size(10px);
			}

			span{
				@include font-size(14px);
				margin-left: 5px;
				color: rgba(252, 119, 0, 1.0);

				@include MQ(479) {
					display: block;
					margin: 0 0 3px 0;
				}
			}
		}
	}
}