<div class="commonPageWrap">
    <div class="wrapper">
        <div class="wrapInner">
            <h1 class="titleCommon">Change Password</h1>
            <form (ngSubmit)="onSubmit(f)" #f="ngForm">
                <div class="acccountBg">
                    <div class="regBox">
                        <div class="formWrap">                            
                            <div class="formRow mobileRow">
                            <div class="textMsg">Please enter your Phone Number</div>
                            <input type="text" name="PhoneNumber" placeholder="Mobile Number*" ngModel required pattern="^([0-9]{10})$">
                            <div class="mobileNumberError" *ngIf="f.controls.PhoneNumber?.errors && f.controls.PhoneNumber?.touched"><span class="error">Please enter a valid Mobile Number</span></div>
                            </div>
                            
                            <div class="formRow">
                                <div class="textMsg">Please enter your current Password</div>
                                <input type="password" name="CurrentPassword" placeholder="Current Password*" ngModel required>
                                <div class="error" *ngIf="f.controls.CurrentPassword?.errors && f.controls.CurrentPassword?.touched"><span class="error">Please enter current Password</span></div>
                            </div>
                            
                            <div class="formRow">
                                <div class="textMsg">Please enter new Password</div>
                                <input type="password" name="NewPassword" placeholder="New Password*" ngModel required>
                                <div class="error" *ngIf="f.controls.NewPassword?.errors && f.controls.NewPassword?.touched"><span class="error">Please enter new Password</span></div>
                            </div>
                            <div class="formRow">
                                <button type="submit" [disabled]="!f.valid" class="createAccount">Change</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>