.navOpened {
    position: inherit;
    opacity: 1;
}

.popupAfterLoginOuter {
    visibility:hidden;
    opacity:0;        
    transition:visibility 0s linear 0.3s,opacity 0.3s linear;
    transition: all 0.4s ease;
    transition-delay:  1s;
}
.popupHoverElement:hover > .popupAfterLoginOuter {
    visibility:visible;
    opacity:1;
    transition: all 0.3s ease;
    transition-delay:  0s;  
}       
.commonIconBtnHeader.userLoggedIn.deactive .popupAfterLoginOuter{
display:none
}
