  <div class="commonPageWrap">
      <div class="wrapper">
        <div class="wrapInner">
        
          <!-- Start My Account HTML Here -->
            
            <h1 class="titleCommon">MY ACCOUNT</h1>

            <div class="acccountBg clearfix">
              <div class="loginBox">
                <h2>I HAVE AN ACCOUNT</h2>
                <div class="loginBoxFormWrap">
                  <form (ngSubmit)="onSignin(f)" #f="ngForm">
                  <div class="formRow" *ngIf="userLocation == 'IN'">
                    <input type="Email" name="UserName" placeholder="Phone Number*" required ngModel pattern="^([0-9]{10})$">
                    <div class="mobileNumberError" *ngIf="f.controls.UserName?.errors && f.controls.UserName?.touched"><span class="error">Please enter a valid Mobile Number</span></div>
                  </div>
                  <div class="formRow" *ngIf="userLocation != 'IN'">
                  <input type="email" name="UserName" placeholder="Email Address*" ngModel required pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?">
                  <div class="error" *ngIf="f.controls.UserName?.errors && f.controls.UserName?.touched"><span class="error">Please enter a valid Email</span></div>
                  </div>
                  <div class="formRow">
                    <input type="password" name="Password" placeholder="Password*" class="error" required ngModel>
                    <div class="error" *ngIf="f.controls.Password?.errors && f.controls.Password?.touched"><span class="error">Please enter a Password</span></div>
                  </div>
                  <div class="formRow">
                    <input type="checkbox" id="RememberMe">
                    <label for="RememberMe">Remember me</label>
                  </div>
                  <div class="formRow">
                    <a [routerLink]="['../forgotpassword']" >Forgotten your password?</a>
                  </div>
                  <div class="formRow">
                    <button type="submit" class="login">LOG IN</button>
                  </div>
                  </form>
                  <div class="formRow">
                    <facebook-login></facebook-login>
                  </div>
                  <div class="formRow">
                    <google-signin></google-signin>
                  </div>
                </div>
              </div>
              <div class="loginBoxContent">
                <h2>CREATE AN ACCOUNT</h2>
                <p>Creating an account will give you access to the following:</p>
                <p>&nbsp;</p>

                <p><strong>Editing of Personal Information: </strong></p>

                <p>Save or change your email address, password or billing address</p>

                <p><strong>Address Book: </strong></p>

                <p>Save your delivery addresses</p>

                <p>Wishlist: Let people know about the items you'd like</p>

                <p><strong>Order History: </strong></p>

                <p>Find your previous orders</p>

                <a *ngIf="userLocation != 'IN'" [routerLink]="['../createaccount']" class="CreatAcWithEmail">Create an account using your email address</a>
                <a *ngIf="userLocation == 'IN'" [routerLink]="['../createaccount']" class="CreatAcWithEmail">Create an account using your Mobile Number</a>

              </div>
            </div>

          <!-- End My Account HTML Here -->

        </div>
      </div>
    </div>