$color-border: #eee;
$color-label: #aaa;
$font-default: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-bold: 'HelveticaNeue-Medium', 'Helvetica Neue Medium';

.cartTotal{
    float: right;
    margin-right: 160px;
}

  .checkout {
    border: 0;
    padding: 10px 45px;
    margin-left: 750px;
    background-color: green;
    color: #fff;
    font-family: $font-bold;
    font-size: 12px;
    border-radius: 3px;
  }
  
  .checkout:hover {
    background-color: darkgreen;
  }
